<app-card-container [header]="title()">

  <div class="card-body">
    <app-radar-chart [radars]="getRadarPorpertyFormattedForChart()"></app-radar-chart>

    <div *ngFor="let axis of axes()">
      <hr>
      <h5>{{ axis.title }}</h5>
      <p>{{ axis.description }}</p>

      <app-axis-bar-chart
        [axis]="axis"
        [values]="getRadarsAxisValuesPorpertyFormattedForChart(axis)"
        [radarTitles]="getRadarTitlesPorpertyFormattedForChart()"
        >
      </app-axis-bar-chart>

      <app-axis-table-values
        [axis]="axis"
        [values]="getRadarsAxisValuesPorpertyFormattedForChart(axis)"
        [radarTitles]="getRadarTitlesPorpertyFormattedForChart()"
      >
      </app-axis-table-values>
    </div>
  </div>

</app-card-container>
