@import "../../../../assets/_colors.sass";

.arista::before{
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  top:50%;
  left: -31px;
  z-index: 22;
  border: 1.5px solid rgba(0, 0, 0, 0.856);
  background-color: white;
  border-radius: 100%;
  transition: .4s;
}

.arista-selected::before{
  background-color: black;

}

.arista{
  position: relative;
  margin-left: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.expand{
  width: 100%;
}

.selector{
  max-width: 25em;
  width: 100%;
}

.axeName{
  margin-bottom: 0.1em;
  align-self: start;
}




