@import "../../../../assets/_colors.sass";

.arista::before{
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  top:50%;
  left: -31px;
  z-index: 22;
  border: 2px solid #bdbdbd;
  background-color: white;
  border-radius: 100%;
  transition: .4s;
}

.arista-selected::before{
  background-color: #6d6d6d;

}

.arista{
  position: relative;
  margin-left: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 2.5em;
}

.expand{
  width: 100%;
}

.selector{
  max-width: 25em;
  width: 100%;
}

.axeName{
  margin-bottom: 0.1em;
  align-self: start;
  font-weight: 600;
}

.axeDescription{
  font-style: italic;
  color: $darkGray;
  font-size: .9em;
  width: 100%;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:hover{
  background-color: $lightAcent
}