<div  class="axis" [class.axis-selected]="voted">
  <div [class.step-border-line]="!lastElemtnt" id="card">
    <p class="axisName">{{ answer.axis.name }}</p>
    <p class="axisDescription">{{ answer.axis.description }}</p>
    <div class="btn-group btn-group-toggle selector" data-toggle="buttons" >
      <label *ngFor="let index of possibleOptions" class="btn btn-outline-dark expand" (click)="optionSelected(index)">
        <input  type="radio" name="options" id="index" autocomplete="off" > {{index}}
      </label>
    </div>
  </div>
</div>
