<div class="radar-visualizer">
  <app-radar-chart
    #radarChart
    [radars]="[selectedRadar()]"
    [isPreview]="isPreview"
    [showLabels]="showLabels"
    (onRadarAxisSelected)="setRadarAxisIndexSelection($event)"
  ></app-radar-chart>
  <div class="radar-selector" [hidden]="hideSelector" [style.width.%]="selectorWidth">
    <h1>Seleccion de votacion</h1>
    <div class="selector-container">
      <a
        (click)="selectRadar(i)"
        *ngFor="let radar of radars; index as i"
        [class.selected]="isRadarSelected(radar)"
        >
        <div class="clickeable-area"></div>
        <div  class="dot"
        [style.width.em]="selectorDotSize"
        [style.height.em]="selectorDotSize"
        [style.top.em]="selectorDotTop"
        >

        </div>
        <span class="radar-label" [style.paddingTop.em]="selectorLabelPaddingTop">
          {{radar.name}}
        </span>
        
      </a>
    </div>
  </div>
</div>
