h5 {
  text-align: center;
}

p {
  text-align: center;
}

.sign-in {
  width: 400px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.alert-sign-in {
  text-align: center;
}

.card-sign-in {
  width: 25rem;
  height: 20em;
  background: rgb(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 10px;
}

.card-body-sign-in {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 16px;
}

.button-sign-in {
  margin: 1.3em 0;
}

.logo-sign-in {
  max-width: 2em;
  max-height: 2em;
}

.parent-button-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

::ng-deep button{
  width: 15em;
  height: 3em;
  display: flex !important;
  align-items: center;

  img{
    margin-right: 1.2em;
  }
}
