h5 {
  text-align: center;
}

p {
  text-align: center;
  font-size: .8em;
}

img{
  margin-top: 1em;
  width: 20em;
  height: 4em;
}
.sign-in {
  width: 100%;
  height: calc(100vh - 4em);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.alert-sign-in {
  text-align: center;
}

.card-sign-in {
  width: 30em;
  height: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 30px;
  font-size: 1em;
}

.card-body-sign-in {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.button-sign-in {
  margin: 1.3em 0;
}

.logo-sign-in {
  max-width: 2em;
  max-height: 2em;
}

.parent-button-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
