<div>
  <div class="barra-navegacion">
    <div class="logo">
      <a href=""><img src="{{getLogo()}}"></a>
    </div>
    <div *ngIf="isLoggedIn() && isInIndex()" class="filtering-section">
      <app-header-filters class="header-filters-container" [radarTemplateContainers]="radarTemplateContainers"></app-header-filters>
    </div>

    <div class="header-buttons">
      <div *ngIf="isLoggedIn()" class="logged-buttons">
        <div  ngbDropdown class="d-inline-block">
          <button type="button" class="export-button" id="dropdownUser" ngbDropdownToggle>
            <div class="export-button-content">
              <span> {{username}} </span>
            </div>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownUser">
            <button class="dropdown-button" ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>

      </div>
      <div *ngIf="!isLoggedIn() && !isInLogin()" class="logged-out-buttons">
        <app-button-with-icon iconClass="fas fa-sign-in-alt" label="Login" type="light"
                              [onClick]="logout"></app-button-with-icon>
      </div>

    </div>
  </div>
</div>
