.barra-navegacion {
  background-color: white;
  position: fixed;
  height: 4em;
  width: 100%;
  top: 0;
  padding: 0 2% 0 2%;
  z-index: 2;

  display: flex;
  justify-content: space-between;

  -webkit-box-shadow:0 1px 2px darkgray;
  -moz-box-shadow:0 1px 2px darkgray;
  box-shadow:0 1px 2px darkgray;

  .logo {
    display: flex;
    align-items: center;

    a {
      display: inline-grid;
      align-self: stretch;
      align-items: center;
    }

    img {
      height: 80%;
    }

  }

  .header-buttons {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;

    .logged-buttons{
      display: flex;

      .button-with-dropdown-container{
        position: relative;
      }
    }

    input{
      max-height: 100%;
        width: auto;
    }

    button{
      background-color: white;
      
    }

  }

}

.dropdown{
  position: absolute;
  width: 100%;
  height: 2.5em;
  z-index: 1;
  text-decoration: none;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0px 6px 11px -6px #000000; 
  box-shadow: 0px 6px 11px -6px #000000;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;

  a{
    color: rgb(255, 50, 50);
    text-decoration: none ;

    &:hover{
      text-decoration: underline;
    }

  }
}
