.barra-navegacion {
  height: 4em;
  width: 100%;
  top: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;



  .logo {
    display: flex;
    align-items: center;
    margin-left: 1em;

    a {
      display: inline-grid;
      align-self: stretch;
      align-items: center;
    }

    img {
      height: var(--theme-logo-height);
    }

  }

  .filtering-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    width: 100%;

    .header-filters-container {
      padding: 0 1em;
    }
  }

  .header-buttons {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;
    z-index: 3;

    .logged-out-buttons{
      height: 100%;
      display: flex;
    }

    .logged-buttons{
      display: flex;

      .button-with-dropdown-container{
        position: relative;
      }
    }

    input{
      max-height: 100%;
        width: auto;
    }
  }

}

.export-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em 1.25em;
  margin: 0 1em;
  background: transparent;
  border: 1px solid lightgrey;
  span {
    margin: 0 0.5em;
  }

}
