<div>
  <div class="barra-navegacion">
    <div class="logo">
      <a href=""><img src="assets/images/logo-radar.svg"></a>
    </div>


    <div class="header-buttons">
      <div *ngIf="isLoggedIn()" class="logged-buttons">
        <button type="button" class=" btn btn-light waves-effect px-3" (click)="navegateToRadares()">
          Radares
        </button>
        <div class="button-with-dropdown-container" (focusout)="hideDropdown()">
          <button type="button" class=" btn btn-light waves-effect px-3" (click)="dropdownToggle()">
            {{username}}
            <img src="assets/images/dropdown.svg">
          </button> 
          <div class="dropdown" *ngIf="isDropdownOpen" (mousedown)="logout()">
            <a href="/">Logout</a>
          </div>
        </div>
    
      </div>
      <input type="image" src="assets/images/help-circle.svg" />

    </div>
  </div>
</div>
