.barra-navegacion {
  height: 4em;
  width: 100%;
  top: 0;
  padding: 0 2% 0 2%;
  z-index: 2;

  display: flex;
  justify-content: space-between;



  .logo {
    display: flex;
    align-items: center;

    a {
      display: inline-grid;
      align-self: stretch;
      align-items: center;
    }

    img {
      height: 80%;
    }

  }

  .filtering-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    width: 100%;

    .header-filters-container {
      padding: 0 1em;
    }
  }

  .header-buttons {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;
    z-index: 3;

    .logged-out-buttons{
      height: 100%;
      display: flex;
    }

    .logged-buttons{
      display: flex;

      .button-with-dropdown-container{
        position: relative;
      }
    }

    input{
      max-height: 100%;
        width: auto;
    }

    button{
      background-color: transparent;
      border: 1px solid silver;
      margin: 0 0.5em;
    }

  }

}

.dropdown{
  position: absolute;
  width: 100%;
  height: 2.5em;
  z-index: 1;
  text-decoration: none;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 6px 11px -6px #000000;
  box-shadow: 0 6px 11px -6px #000000;
  border-radius: .2em;


  a{
    color: rgb(255, 50, 50);
    text-decoration: none ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover{
      text-decoration: underline;
    }

  }
}
