.logo {
  height: 80%;
}

.footer-container{
  border-top: 1px solid white;
  background: whitesmoke;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 300;
}


@media(max-width:1400px){
  .footer-container{
    height: 1.5em;

  }
}

