:host{
  width: 100%;
  height: 100%;
}

.charts-container{
  width: 100%;
  height: calc(100% - 4em);
  display:flex;
  flex-direction: column;
}

.radar-template-details-right-section-container {
  display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 100%;
  height: 100%;
}

.radar-template-details-right-empty-section-container {
  @extend .radar-template-details-right-section-container;
  justify-content: center;
  align-items: center;
}

.axis-title-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: whitesmoke;
  border-radius: 10px;
  margin-top: 0.5em;
  padding: 0em 0.5em;

  .toggle{
    margin: 0.5em;
    border: 2px solid silver;
    border-radius: 4px;
  }
}

.axis-title {
  font-size: 1.3em;
  color: black;
  text-overflow: ellipsis;
  line-height: 1.1em;
}

.axis-title-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  height: 100%;
  cursor: pointer;
  padding: 0.7em;
  border-radius: 10px 0px 0px 10px;
  svg {
    color: black;
  }
  &:hover {
    background-color: grey;
  }
}

.axis-title-arrow-right {
  @extend .axis-title-arrow;
  border-radius: 0px 10px 10px 0px;
}

.axis-title-arrow-left {
  @extend .axis-title-arrow;
   border-radius: 10px 0px 0px 10px;
 }

.axis-title-arrow-disabled {
  @extend .axis-title-arrow;
  color: silver;
  cursor: auto;
}

.empty-title {
  color: grey;
  font-size: 2.5em;
  text-align: center;
  margin-top: -1em;
}

.gray{
  color:gray;
}
