<div class="radar-template-details-right-section-container" *ngIf="selectedAxisId">
  <div class="title-with-icon">
    <i class="fas fa-dot-circle" color="blue"></i>
    <span class="axis-title"> {{ axisName() }} </span>
  </div>
  <div class="charts-container">
    <app-axis-evolution-line-chart [radarTemplate]="radarTemplate" [selectedAxisId]="selectedAxisId"></app-axis-evolution-line-chart>
    <app-axis-evolution-dispersion-chart [radarTemplate]="radarTemplate" [selectedAxisId]="selectedAxisId"></app-axis-evolution-dispersion-chart>
  </div>
</div>
<div class="radar-template-details-right-empty-section-container" *ngIf="!selectedAxisId">
  <span class="empty-title"> No hay ningún eje seleccionado </span>
</div>
