.download-wrapper {
  display: flex;
  align-items: center;
  background-color: ghostwhite;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem;
  margin-left: 4rem;

  a {
    color: #212529;
    font-size: 1.2em;
    font-weight: 400;
  }

  .download-icon {
    margin-left: 0.5em;
  }
}


