<div class="radar-template-container-card" [ngClass]="(!small)?'unpinnedSize':'pinnedSize'" *ngIf="radarTemplateContainer">
  <div class="body">
    <div class="delete-container" (click)="openDeleteContainerModal()">
      <app-confirm-action-modal #deleteContainerModal
                                [modalTitle]="'¿Está seguro que quiere eliminar el contenedor?'"
                                [submitAction]="deleteContainer"
                                [displayContent]="false"
                                (afterSubmit)="handleDeleteContainerSuccess(radarTemplateContainer)"
                                (afterSubmitError)="handleDeleteContainerError()"
                                [onSubmitButtonText]="'Eliminar Contenedor'">
      </app-confirm-action-modal>
      <i class="fas fa-trash trash-icon"></i>
    </div>
    <div *ngIf="shouldShowChartPreview()">
      <carousel class="preview-carousel" [interval]="false" [isAnimated]="true" [showIndicators]="false">
          <slide *ngFor="let radarTemplate of radarTemplatesWithInformation(); index as i">
            <app-radar-chart
              (click)="navigateToRadarTemplateContainer()"
              #radarChart
              [radars]="[radarTemplate.radars[radarTemplate.radars.length-1]]"
              [isPreview]="true"
              [showLabels]="false"
              [heightInEm]="(!small)?12:9"
              [widthInEm]="(!small)?12:9"
            ></app-radar-chart>
          </slide>
      </carousel>
    </div>
    <div *ngIf="!shouldShowChartPreview()" (click)="navigateToRadarTemplateContainer()" class="no-info-container">
      <b style="display: block"> No hay información suficiente </b>
      <span> para generar una previsualización </span>
    </div>
    <div [ngClass]="(radarTemplateContainer.isPinned())?'pinned':'pin'" (click)="pinClicked()"><i class="fas fa-thumbtack" ></i></div>
  </div>
  <div class="info-section" (click)="navigateToRadarTemplateContainer()">
    <div class="info-section-title">
      <span class="title"> {{radarTemplateContainer.name}}</span>
      <span> {{radarTemplateContainer.active ? "Activo" : "Inactivo"}} </span>
    </div>
    <span> <b> {{ radarTemplateContainer.radar_templates.length }} </b> radares</span>
  </div>
</div>
