.radar-template-container-card {
  height: 20em;
  width: 20em;
  margin: 1em;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 5px;
  padding: .5em;
  position: relative;

}

.info-section {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 1em;
  margin-bottom: 1em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid silver;
  height: 3em;
  width: 100%;
  padding-top: 0.5em;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    ::ng-deep .carousel-control-prev{
      opacity: .7;

      &:hover{
        opacity: 1;
      }

    }
    ::ng-deep .carousel-control-next{
      opacity: .7;
        &:hover{
          opacity: 1;
        }
    }

  }
}

.info-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.black{
  color: black;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon{
  filter: invert(1);
  &:hover{
    opacity: 1;
  }
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-prev:not(:hover)
{
  left: -1.3em;
  opacity: 0;

}
::ng-deep .carousel-control-next,
::ng-deep .carousel-control-next:not(:hover)
{
  right: -1.3em;
  opacity: 0;
}
