.radar-template-container-card {
  height: 20em; width: 20em; margin: 1em; background: slategrey; display: flex; flex-direction: column;
  align-items: center; justify-content: center; cursor: pointer;
}
