.radar-template-container-card {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: .5em;
  position: relative;

  &:hover{
    border: 1px solid black;
  }
}

.pinnedSize{
  height: 13em;
  width: 13em;
}

.unpinnedSize{
  height: 16em;
  width: 16em;
}

.info-section {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgb(0, 0, 0, 0.02);
  height: 4em;
  width: 100%;
  padding: 0.5em 1em 1em;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .no-info-container{
    align-self: center;
    margin-bottom: 3em;
  }
  .pin{
    align-self: flex-start;
    color: gray;
    transform: rotate(45deg);
    padding: .8em;
    display: block;
    position: absolute;
    z-index: 30;
    right: .8em;


    &:hover{
      color: var(--theme-dark-grey);
    }

  }

  .pinned{
    @extend .pin;
    color: var(--theme-primary-color);
    transform: none;

    &:hover{
      color: gray;
    }

  }

  .delete-container {
    align-self: flex-start;
    color: gray;
    padding: 0.8em;
    display: block;
    position: absolute;
    z-index: 30;
    left: 0.8em;

    .trash-icon {
      width: .9em;
      color: silver;
    }

    &:hover {
      .trash-icon {
        color: black;
      }
    }
  }

  &:hover{
    ::ng-deep .carousel-control-prev{
      opacity: .7;

      &:hover{
        opacity: 1;
      }

    }
    ::ng-deep .carousel-control-next{
      opacity: .7;
        &:hover{
          opacity: 1;
        }
    }

  }
}

.info-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  max-width: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.black{
  color: black;
}

::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon{
  filter: invert(1);
  &:hover{
    opacity: 1;
  }
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-prev:not(:hover)
{
  left: -1.3em;
  opacity: 0;

}
::ng-deep .carousel-control-next,
::ng-deep .carousel-control-next:not(:hover)
{
  right: -1.3em;
  opacity: 0;
}
