.radar-template-container-card {
  height: 20em;
  width: 20em;
  margin: 1em;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 1em;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid silver;
  height: 3em;
  width: 100%;
  padding-top: 0.5em;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.black{
  color: black;
}


.preview-carousel{
  filter: blur(10px);
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next-icon{
  filter: invert(1);
}
