@import "../../../assets/_colors.sass";

.header-filters-container {
  display: flex;

  .statusFilter{
    margin-right: .7em;
    display: flex;
    align-items: center;


    label{

      margin: 0 .5em  ;
      input[type="radio"]{
        display: none;
        &:checked{
          + span{
            color: $darkAcent;
          }
        }
      }
  
      span{
        font-size: 1em;
        font-weight: 500;
      }
    }
  }

  .search-bar{
    font-size: .9em;
    border-radius: 0.5em; 
    padding: 0.4em;
    border: 1px solid black;
    outline: none;
  }
}


