<div class="header-filters-container">
  <div class="statusFilter">
    <label (click)="filterSelected(filters.ALL)"><input type="radio" name="filter" checked><span>Todos</span></label>
    <label (click)="filterSelected(filters.OPEN)"><input type="radio" name="filter"><span>Abiertos</span></label>
    <label (click)="filterSelected(filters.CLOSED)"><input type="radio" name="filter"><span>Cerrados</span></label>
  </div>
 <input type="text" [(ngModel)]="searchText" (input)="updateSearch()" class="search-bar" placeholder="Buscar..">  
</div>
