
<div class="container">
  <div class="title">
    <p>Ingrese el codigo de acceso para poder votar</p>
  </div>
  <div class="form">
    <input  inputmode="numeric" pattern="[0-9]*" OnlyNumber="true" [(ngModel)]="accessCode" (keypress)="userChangedCode($event)" (keyup)="userChangedCode($event)" />
      <img
        class="arrow"
        src="../../assets/images/arrow-right.svg"
        (click)="accessToRadarContainer()"
      />
  </div>
  <div *ngIf="notFound" class="error">
    <p>Codigo invalido</p>
  </div>
</div>
