.call-to-action-container {
  border: 1px solid silver;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .call-to-action-image {
    height: 80%;
    svg {
      height: 40px;
      width: 40px;
      margin: 5px;
    }
  }

  .call-to-action-label {
    height: 20%;
  }
}
