.call-to-action-container {
  border: 1px solid white;
  height: 100%;
  width: 12em;
  margin: 0 1em;
  cursor: pointer;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: ghostwhite;
  border-radius: 5px;

  .call-to-action-image {
    height: 80%;
    svg {
      height: 3em;
      width: 3em;
      margin: .3em;
    }
  }

  .call-to-action-label {
    height: 20%;
  }
}

.call-to-action-button {
  height: 7em;
}
