.create-radar-template-container-card {
  height: 13em;
  width: 13em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em;
  background: linear-gradient(145deg, #ffffff, #d9dbdc);

  box-shadow: 5px 5px 10px #bababa, -5px -5px 10px whitesmoke;
  border: none;
  border-radius: 10px;

  &:hover{
    background: linear-gradient(145deg, whitesmoke, lightgrey);
  }

  span {
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
  }

  .call-to-action-image {
    svg {
      color: darkgray;
      height: 40px;
      width: 40px;
    }
  }
}

.radar-template-container-form-text {
  font-size: .8em;
}
