<div [hidden]="showCreateRadarTemplateContainerForm" class="create-radar-template-container-card"
     (click)="onShowCreateRadarTemplateContainerModal()">
  <div class="call-to-action-image">
    <i class="fas fa-plus"></i>
    <i class="fas fa-chart-line" style="margin-left: 1em;"></i>
  </div>
  <span> Crear Contenedor de Radares </span>
  <app-general-modal #createContaienrModal [modalTitle]="'Crear Contenedor de radares'" [onSubmitButtonText]="'Crear'" (onAfterSubmit)="onRadarTemplateContainerCreated($event)" (onAfterSubmitError)="onCreationError()">
    <app-radar-template-container-create-form #contentRef></app-radar-template-container-create-form>
  </app-general-modal>
</div>
