<div class="radar-template-container" *ngIf="radarTemplate">
  <div class="title-section">
    <span >  {{radarTemplate.name}} </span>
  </div>
  <div class="radar-template-details-container">
    <div class="radar-template-details-sub-container" *ngIf="shouldDisplayTemplateRadars()">
      <div class="left-header">
        <div class="title-container"><div class="radar-title" >{{selectedRadar.name}}</div></div>
        <div class="stats-container">
          <div class="stat" title="Promedio Global">
            <i class="far fa-star"></i>
            <span> {{selectedRadar.global_average.toFixed(2)}} </span>
          </div>
          <div class="stat" title="Cantidad de respuestas">
            <i class="fas fa-users"></i>
            <span> {{selectedRadar.amountOfVotes()}} </span>
          </div>
        </div>
      </div>
      <app-template-visualizer
        [radars]="radars()"
        [isPreview]="false"
        (radarSelected)="setSelectedRadar($event)"
        (axisSelected)="setSelectedAxis($event)"
        [selectedAxisId]="selectedAxisId"
      ></app-template-visualizer>
    </div>
    <div class="radar-template-details-empty-sub-container" *ngIf="!shouldDisplayTemplateRadars()">
      <span class="empty-title"> No hay información disponible aún </span>
      <span style="color: grey; margin-bottom: 1.3em;"> Para ver datos, creá una votación y compartila! </span>
      <app-button-with-icon iconClass="far fa-plus-square" label="Crear Votación" type="warning"
                            [onClick]="openVotingCreateModal"></app-button-with-icon>
    </div>
    <div class="radar-template-details-sub-container right-container">
      <app-radar-template-axis-evolution [radarTemplate]="radarTemplate"
                                         (selectedAxisIdChange)="onRadarAxisChange($event)"
                                         [selectedAxisId]="selectedAxisId" [selectedRadar]="selectedRadar">
      </app-radar-template-axis-evolution>
    </div>
  </div>
</div>
