@import "../../assets/_colors.sass";

.radar-template-container {
  height: 100%;
  display: flex;
  padding: 1em 2em;
  flex-direction: column;
  align-items: start;
}

.title-section {
  padding: 0.5em 0;
  display: flex;
  align-items: center;

  img{
    width: 2em;
    height: 2em;
  }
  span {
    font-size: 2em;
  }
}

.stats-container{
  background: whitesmoke;
  border: 1px solid white;
  border-radius: 10px;
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.stat{
  color: green;
  display: flex;
  align-items: center;
  span {
    margin-left: .5em;
    color: black;
    font-weight: 900;
  }
}

.radar-icon {
  margin-right: 0.4em;
}

.radar-template-details-sub-container {
  width: 49%;
  height: 100%;
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2.3em;
}

.radar-template-details-empty-sub-container {
  @extend .radar-template-details-sub-container;
  justify-content: center;
}

.empty-title{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: -1em;
}

.radar-template-details-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 44em;
}

.left-header{
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  align-items: flex-start;
  padding-left: 2em;
  width: 100%;
  justify-content: space-between;

}

.right-container{
  padding-left: 1em;
  padding-right: 1em;
}

.title-container{
  width: 80%;
  display: flex;
  align-items: center;
}

app-template-visualizer{
  width: 100%;
  height: 100%;
  margin-top: 1em;
}

.radar-title{
  font-size: 1.5em;
  line-height: 1.1em;
  height: 2em;
  text-overflow: ellipsis;
}
