.export-wrapper {

  .export-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 0.5em;
    padding: 0.5em 1.25em;

    .download-icon {
      margin-right: 0.5em;
    }
  }
}
