.toast-content {
  min-width: 15em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word;

  span {
    width: 70%;
    overflow-wrap: break-word;
  }

  .toast-close-icon {
    margin: 0 1em;
    cursor: pointer;
  }
}
