@import "../../../assets/_colors.sass";

.radar-template-container-sidebar {
  display: flex;
  flex-direction: column;
  width: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 11em);
  background: rgb(255, 255, 255, 0.85);
}

.radar-template-container-title {
  font-size: 2em;
}

.radar-icon {
  margin-right: 0.4em;
  width: 2.6em;
  height: 2.6em;
}

.title {
  display: flex;
  align-items: center;
  margin-right: 2em;
  span {
    color: white;
  }
}

.radar-template-container-header {
  background: linear-gradient(45deg, black, silver);
  height: 5em;
  padding: 1em;
  box-shadow: 0 1px 2px darkgrey;
  z-index: 1;
  display: flex;
  align-items: center;

  span {
    font-size: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

.radar-template-container-body {
  display: flex;
  flex-direction: row;
}

.radar-template-sidebar-card {
  border-bottom: 1px solid silver;
  width: 85%;
  height: 10em;
  margin: auto;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  border: 1px solid $lightGray;
  border-radius: 4%;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $hoverGray;
  }

  &:last-child{
    margin-bottom: 1.5em;
  }
}

.selected-radar-template-sidebar-card {
  @extend .radar-template-sidebar-card;
  border: 3px solid lightgreen;
  border-radius: 4%;
  background: rgb(214, 255, 214, 0.4);

  &:hover {
    background-color: rgb(214, 255, 214, 0.4);
  }
}

.radar-template-sidebar-empty-card {
  @extend .radar-template-sidebar-card;
  border: 1px dashed $lightGray;
  color: $darkGray;
  display: flex;
  flex-direction: column;

  .plus-icon {
    font-size: 1.4em;
  }

  height: 10em;
}

.radar-template-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radar-template-container-header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  app-button-with-icon{
    margin-top: .6em;
  }
}

.voting-code-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5em;
  background: rgb(0, 0, 0, 0.3);
  border-left: 1px solid white;

  span {
    color: silver;
    font-size: 1em;
  }

  b {
    color: white;
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  .voting-code-link{
    margin-left: 1em;

    a{
      color: white;
    }
  }
}

.radar-template-container-primary-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.form-control {
  background-color: #fff;
}


::ng-deep .btn {
  padding: 0.4em 0.35em;
  font-size: 1em;
}

::ng-deep .button-with-icon-icon{
  font-size: 1em;
}
