.radar-template-container-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 20em;
}

.radar-template-sidebar-card {
  background: grey;
  margin: 1em;
  width: 15em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radar-template-container {
  display: flex;
  flex-direction: row;
}
