<div class="radar-template-container" *ngIf="radarTemplateContainer">
  <div class="radar-template-container-header">
    <div class="title">
      <img class="radar-icon" src="../../assets/images/target.svg" />
      <span>{{ radarTemplateContainer.name }} </span>
    </div>
    <div class="radar-template-container-header-form">
      <app-general-modal #createRadarTemplateRef [modalTitle]="'Crear un Radar'" [onSubmitButtonText]="'Crear'" (onAfterSubmit)="addRadarTemplateToContainer($event)" (onAfterSubmitError)="handleRadarTemplateAddError()">
        <app-create-radar-template-form #contentRef [radarTemplateContainer]= "radarTemplateContainer"></app-create-radar-template-form>
      </app-general-modal>
      <div>
        <app-button-with-icon
          iconClass="far fa-plus-square"
          label="Agregar Radar"
          type="success"
          (click)="addRadar()"
        ></app-button-with-icon>
      </div>
      <app-general-modal #shareContainerRef [modalTitle]="'Compartir Container'" [onSubmitButtonText]="'Compartir'" (onAfterSubmit)="successfulContainerShare()" (onAfterSubmitError)="handleContainerShareError()">
        <app-share-container-form #contentRef [radarTemplateContainer]= "radarTemplateContainer"></app-share-container-form>
      </app-general-modal>
      <div>
        <app-button-with-icon
          iconClass="fas fa-share-square"
          label="Compartir"
          type="success"
          (click)="shareRadar()"
        ></app-button-with-icon>
      </div>
      <app-general-modal #cloneContainerModal [modalTitle]="'Clonar Contenedor'" [onSubmitButtonText]="'Clonar'" (onAfterSubmit)="cloneRadarTemplateContainer($event)" (onAfterSubmitError)="handleRadarTemplateCloneError()">
        <app-clone-radar-template-container-form #contentRef [radarTemplateContainer]= "radarTemplateContainer"></app-clone-radar-template-container-form>
      </app-general-modal>
      <app-button-with-icon
        iconClass="far fa-plus-square"
        label="Clonar Contenedor"
        type="success"
        [onClick]="openCloneContainerModal"
      ></app-button-with-icon>
      <app-button-with-icon
        [disabled]="hasVotingCode()"
        disabledTooltipText="Ya existe una votacion abierta"
        iconClass="far fa-plus-square"
        label="Crear Votación"
        type="success"
        [onClick]="openVotingCreateModal"
      ></app-button-with-icon>
      <app-general-modal #votingModal [modalTitle]="'Crear Votación'" [onSubmitButtonText]="'Crear Votación'" (onAfterSubmit)="handleVotingCreateSuccess($event)" (onAfterSubmitError)="handleVotingCreateError()">
        <app-create-voting-form #contentRef [radarTemplateContainer]= "radarTemplateContainer"></app-create-voting-form>
      </app-general-modal>

      <div *ngIf="votingCode" class="voting-code-container">
        <span> Código de votación: </span>
        <b> {{ votingCode }} </b>
      </div>
    </div>
  </div>
  <div class="radar-template-container-body">
    <div class="radar-template-container-sidebar">
      <div *ngIf="isContainerEmpty()" class="radar-template-sidebar-empty-card" (click)="addRadar()">
        <div class="plus-icon"><i class="fas fa-plus"></i></div>
        Agregar radar
      </div>
      <ng-scrollbar>


      <div
        *ngFor="let radarTemplate of radarTemplates(); let i = index"
        [attr.data-index]="i"
      >
        <div
          (click)="onRadarTemplateCardClick(radarTemplate, i)"
          [className]="
            isSelected(radarTemplate)
              ? 'selected-radar-template-sidebar-card'
              : 'radar-template-sidebar-card'
          "
        >
          <span> {{ radarTemplate.name }} </span>
        </div>
      </div>
    </ng-scrollbar>
    </div>
    <app-radar-template
      style="width: 100%"
      [radarTemplate]="selectedRadarTemplate"
    ></app-radar-template>
  </div>
</div>
