.radar-template-container-sidebar {
  display: flex;
  flex-direction: column;
  width: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 11em);
  background: rgb(255, 255, 255, 0.85);
}

.radar-template-container-title {
  font-size: 2em;
}

.radar-icon {
  margin-right: 0.4em;
}

.title {
  display: flex;
  align-items: center;
  margin-right: 2em;
  span {
    color: white;
  }
}

.radar-template-container-header {
  background: linear-gradient(45deg, black, silver);
  height: 5em;
  padding: 1em;
  box-shadow: 0 1px 2px darkgrey;
  z-index: 1;
  display: flex;
  align-items: center;

  span {
    font-size: 2.5em;
  }
}

.radar-template-container-body {
  display: flex;
  flex-direction: row;

}

.radar-template-sidebar-card {
  border-bottom: 1px solid silver;
  width: 15em;
  height: 10em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected-radar-template-sidebar-card {
  @extend .radar-template-sidebar-card;
  border: 3px solid lightgreen;
  background: rgb(214, 255, 214, 0.4);
}

.radar-template-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radar-template-container-header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.voting-form-container {
  padding: 0 1em;
  border-left: 1px solid silver;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em 1em;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 5px;

  span {
    font-size: 1.2em;
    color: white;
    font-weight: 800;
    margin-right: 2em;
  }

  label {
    font-size: 1em;
    color: white;
    margin: 0;
  }
}
