@import "../../../assets/_colors.sass";

:host{
  width: 100%;
}

.card-body{
  padding: 0;
  padding-right: 1em;
}

h2{
  padding-left: 0.5em;
  padding-bottom: .5em;
  padding-right: 1.5em;
}

.submit-button-container {
  padding-top: 10px;
  text-align:center;
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 1.5em;
  height: 1.5em;
  position: relative;
  width: 100%;
  
}

.sumbit-button{
  position: absolute;
  top: 0;
  border: 1px solid black;
  color: black;
  border-radius: .25em;
  padding: .35em .5em;
  background-color: white;
  transition: 0.5s;

  &:disabled{
    border-color:rgb(63, 63, 63);
    color:rgb(63, 63, 63);
  
  }

  &:not(:disabled):hover{
    background-color: $hoverGray;

    img{
      transition: 0.3s;
      transform: translate(3px);
    }
  }
}

.sumbit-button:disabled > * {
  opacity: .7;

}

.sumbit-button > * {
  opacity: 1;
  transition: 1s;
}

