@import "../../../assets/_colors.sass";

.volver-btn {
  padding-top: 10px;
  text-align:center;
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 1.5em;
  height: 1.5em;
  position: relative;
  border-bottom: 2px solid #bdbdbd;
  width: 100%;
  
}

.axes {
  padding-top: 10px;
  clear: both;
}

.card-body{
  border-left: 2px solid #bdbdbd;
  padding: 0;
  padding-right: 1em;

}

h2{
  padding-left: 0.5em;
}

.sumbit-button{
  position: absolute;
  top: 0;
  border: 1px solid black;
  color: black;
  border-radius: .25em;
  padding: .35em .5em;
  background-color: white;

  &:disabled{
    border-color:rgb(63, 63, 63);
    color:rgb(63, 63, 63);
    

  }
}

.sumbit-button:disabled > * {
  opacity: .7;
}


