<div class="card-body">
  <h2 [fittext] maxFontSize="40">{{ radarTemplate.name }}</h2>
  <div *ngFor="let answer of answers;let isLast = last">
    <app-axis [answer]="answer" [lastElemtnt]="isLast"></app-axis>
  </div>
  <div class="submit-button-container" [class.error-text]="error">
    {{error ? "No se pudo realizar la votacion anterior" : ""}}
    <button
      type="button"
      class="sumbit-button"
      [disabled]="cannotVote()"
      (click)="vote()"
    >
      {{hasNextStep ? "Siguiente" : "Finalizar"}}
      <img *ngIf="hasNextStep" src="../../../assets/images/arrow-right.svg"/>
    </button>
  </div>

</div>
