.volver-btn {
  padding-top: 10px;
  text-align:center;
  clear: both;
}

.axes {
  padding-top: 10px;
  clear: both;
}

.card-body{
  border-left: 1px solid black;
  padding: 0;
  margin: 1.25rem;
  max-width: 28em;
  padding-right: 1em;
}

h2{
  margin-left: .5em;
}

:host{
  display: flex;
  justify-content: center;
}