.radar-button-container{
  margin: 0em 0.5em;
  margin-top: -.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
}

.btn-icon-img{
  max-width: 1.5em;
  max-height: 1.5em;
}

span{
  margin-left: auto;
  margin: auto;
}
