.radar-button-container{
  margin: -.5em 0.5em 0em;
  cursor: pointer;
  font-size: 1em;
}

.btn-icon-img{
  max-width: 1.5em;
  max-height: 1.5em;
}

.icon-button-with-icon{
  display: inline;
  margin-right: .5em;
}

button{
  display: flex;
  align-items: center;
  span {
    font-weight: 400;
  }
}
