@import "../../../assets/_colors.sass";

.arrow{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  min-height: 2em;
  color: #707070;
  background: #EBEBEB;
  padding-left: .4em;
  width: 100%;

  .number{
  display: inline;
  }

  &:not(:last-child):after{
    content: '';
    border-left: 1em solid #EBEBEB;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
  }

  &:not(:first-child):before{
    content: '';
    border-left: 1em solid #ffffff;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:not(:first-child){
    padding-left: 1.4em;
    margin-left: .3em;
  }

}

.wizzard{
  display: flex;

}

:host{
  align-self: center;
  width: 100%;
}

.selected{
  background-color: $lightAcent;
  color: white;
  &:not(:last-child):after{
    content: '';
    border-left: 1em solid $lightAcent;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
  }
}

.voted{
  background-color:$lightAcent;
  color: white;
  &:not(:last-child):after{
    content: '';
    border-left: 1em solid $lightAcent;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
  }

}