<ng-template #modalRef>
  <div class="modal-header" [ngClass]="[!displayContent ? 'no-border' : '']">
    <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="displayContent"class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer" [ngClass]="[!displayContent ? 'no-border' : '']">
    <app-button-with-icon
      class="form-button"
      label="Cancelar"
      type="secondary"
      iconClass="fas fa-times-circle"
      [onClick]="closeModal">
    </app-button-with-icon>
    <app-button-with-icon
      class="form-button"
      iconClass="far fa-plus-square"
      label="{{onSubmitButtonText}}"
      type="success"
      [onClick]="submitAction">
    </app-button-with-icon>
  </div>
</ng-template>
