/* Small devices (landscape phones, to 768px) */
.view-container-router{
  height: calc(100vh - 4em);
  overflow-y: hidden;
  background-position: bottom;
  font-family: 'Roboto Condensed', sans-serif;
}

.view-scrollable-container {
  overflow-y: auto;
  max-height: 100%;
}

.aplication-container{
  font-size: 1em;
  height: 100vh;
  background: linear-gradient(to right, #d8e1ed 0%, #e3eee1 100%);

}

@media(max-width:1600px){
  .view-container-router{
    font-size: .9em;
  }

  .aplication-container{
    font-size: .9em;
  }
}

@media(max-width:1400px){
  .view-container-router{
    font-size: .82em;
  }

  .aplication-container{
    font-size: .82em;
  }
}
