/* Small devices (landscape phones, to 768px) */
.view-container-router{
  height: calc(100% - 5em);
  background-image: url('../assets/images/Fondo-pinos.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow-y: hidden;
  background-position: bottom;
}

.view-scrollable-container {
  overflow-y: auto;
  max-height: 100%;
}

.aplication-container{
  font-size: 1em;
  height: 100vh;
}

@media(max-width:1600px){
  .view-container-router{
    font-size: .9em;
  }

  .aplication-container{
    font-size: .9em;
  }
}

@media(max-width:1400px){
  .view-container-router{
    font-size: .82em;
  }

  .aplication-container{
    font-size: .82em;
  }
}
