/* Small devices (landscape phones, to 768px) */
.view-container-router{
  padding-top: 4em;
  height: calc(100vh - 2em);
  background-image: url('../assets/images/Fondo-pinos.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow-y: hidden;
  background-position: bottom;
}

.view-scrollable-container {
  overflow-y: auto;
}
