<div class="aplication-container">
  <app-header></app-header>
  <div class="view-container-router">
    <div class="view-scrollable-container">
      <router-outlet></router-outlet>
      <app-toasts></app-toasts>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(255, 255, 255, 0.8)" size = "medium" color = "{{getSpinnerColor()}}" type = "line-scale-party"
             [fullScreen] = "true">
  <div class="spinner-inner-container">
    <img src="assets/images/logo-radar.svg">
    <span> CARGANDO... </span>
  </div>
</ngx-spinner>

