<app-card-container [header]="'Crear Modelo de Radar'">
  <div class="card-body">

    <form (ngSubmit)="createRadarTemplate()" #createRadarTemplateForm="ngForm">

      <app-radar-template-form [(selectedRadarTemplateContainer)]="selectedRadarTemplateContainer" [(radarTemplateContainers)]="radarTemplateContainers" [(radarTemplateName)]="radarTemplateName" [(radarTemplateDescription)]="radarTemplateDescription"
                      [showErrors]="showErrors"></app-radar-template-form>

      <hr>

      <app-axes-form [(axes)]="axes" [showErrors]="showErrors"></app-axes-form>

      <hr>

      <div class="create-radar-template-button-container">

        <button type="button" class="btn btn-secondary" (click)="backToIndex()">
          Volver al index
        </button>

        <button type="submit" class="btn btn-success create-radar-template-button">Crear</button>
      </div>
    </form>

  </div>
</app-card-container>
