<div *ngIf="canContainerBeVoted(radarContainer)">
  <div class="vote-container">
    <div *ngIf="!isContainerClosed(); else radarClosed">
      <h1 [fittext] maxFontSize="50">{{title()}}</h1>
      <div *ngIf="!hasVotationEnded(); else elseVotedBlock" class="votation-container">
          <div class="step-arrows-container">
            <wizzard-arrows [currentStep]="currentStep" [radarTemplates]="votableRadarTemplates(radarContainer)"></wizzard-arrows>
          </div>
          <app-voting-radar 
            [radarTemplate]="currentStepRadarTemplate()"
            [isANextRadarTemplateToVote]="isANextRadarTemplateToVote()"
            (voted)="templateVoted()" >
          </app-voting-radar>
      </div>

      <ng-template #elseVotedBlock>
        <app-voted-radar></app-voted-radar>
      </ng-template>

    </div>

    <ng-template #radarClosed>
      <h3>El radar está cerrado</h3>
    </ng-template>
  </div>
</div>

<ng-template #radarUndefined>
  <app-card-container [header]="CARGANDO"></app-card-container>
</ng-template>
