@import "../../assets/_colors.sass";

h3 {
    text-align: center;
    margin: 1em;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

.component-centerer{
    display: flex;
    justify-content: center;
    background-color:$lightGray;
}

.vote-container{
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 40em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 0 1em;

}

.votation-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.step-arrows-container{
    width: 100%;
    display: flex;
    justify-content: center;
}