<div *ngIf="canContainerBeVoted(radarContainer); else radarUndefined;" class="component-centerer">
  <div class="radar-container">
    <div *ngIf="!isContainerClosed(); else radarClosed">
      <h1 [fittext] maxFontSize="50">{{title()}}</h1>
      <div class="wizzard-steps">
        <app-wizzard-arrows [currentStep]="currentStep" [radarTemplates]="votableRadarTemplates(radarContainer)"></app-wizzard-arrows>
      </div>

      <div *ngIf="!hasVotationEnded(); else elseVotedBlock" class="votation-container">
          <app-voting-radar
            [radarTemplate]="currentStepRadarTemplate()"
            [hasNextStep]="hasNextStep()"
            (voted)="templateVoted()" >
          </app-voting-radar>
      </div>

      <ng-template #elseVotedBlock>
        <app-voted-radar [voting]="voting"></app-voted-radar>
      </ng-template>

    </div>

    <ng-template #radarClosed>
      <h3>El radar está cerrado</h3>
    </ng-template>
  </div>
</div>

<ng-template #radarUndefined>
  <div  class="component-centerer">
  <div class="radar-container">
    <div class="votation-container">
        <h3>No existe la votación</h3>
    </div>
  </div>
</div>
</ng-template>
