h3 {
    text-align: center;
    margin: 1em;
}

.vote-container{
    background-color: white;
    height: 100%;
    width: 100%;
}

.votation-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.step-arrows-container{
    width: 100%;
    max-width: 30em;
    display: flex;
    justify-content: center;
}