@import "../../assets/_colors.sass";

h3 {
    text-align: center;
    margin: 1em;
}

h1{
    font-size: 2.5rem;
    text-align: left;
}

.component-centerer{
    display: flex;
    justify-content: center;
}

.radar-container{
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 45em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
  padding: 4em 3em .5em;

  .votation-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 3em ;
        padding-bottom: 4em ;

        .wizzard-steps{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

}





