h3 {
    text-align: center;
    margin: 1em;
}

h1{
    font-size: 2.5rem;
    text-align: left;
}

.component-centerer{
    display: flex;
    justify-content: center;
}

.radar-container{
  border-radius: 30px;
  margin: 1em 0;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 2px 2px 7px #bababa;

  height: 100%;
  width: 100%;
  max-width: 45em;
  padding: 4em 3em .5em;

  .votation-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 3em ;
        padding-bottom: 4em ;

        .wizzard-steps{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

}





