h3 {
    text-align: center;
    margin: 1em;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

.vote-container{
    background-color: white;
    height: 100%;
    width: 100%;
}

.votation-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}

.step-arrows-container{
    width: 100%;
    max-width: 30em;
    display: flex;
    justify-content: center;
}