.name-input{
  margin-bottom: 0.5em;

  input{
    margin-bottom: .2em;
  }

  span{
    color: var(--theme-danger-color);
    font-size: 0.9em;
    margin-left: 1em;
    visibility: hidden;
  }
}

.name-input-empty-error{
  @extend .name-input;
  input{
    border-color: var(--theme-danger-color);
  }
}

.name-input-error{
  @extend .name-input;
  @extend .name-input-empty-error;

  span{
    visibility: visible;;
  }
}

.range-input-label-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  span {
    color: gray;
  }
}

.max-voting-value-container {
  width: 50%;
}
