<div class="create-radar-template-container-card">
  <div class="call-to-action-image">
    <i class="fas fa-plus"></i>
    <i class="fas fa-chart-line" style="margin-left: 1em;"></i>
  </div>
  <span> Crear Contenedor de Radares </span>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" style="font-size: 0.8em" id="basic-addon1">Nombre</span>
    </div>
    <input type="text" class="form-control radar-template-container-form-text" placeholder="Ingrese el nombre"
           aria-label="name" aria-describedby="basic-addon1" [(ngModel)]="selectedRadarTemplateContainerName">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" style="font-size: 0.8em" id="basic-addon2">Descripción</span>
    </div>
    <input type="text" class="form-control radar-template-container-form-text" placeholder="Ingrese la descripción"
           aria-label="description" aria-describedby="basic-addon1" [(ngModel)]="selectedRadarTemplateContainerDescription">
  </div>
</div>