/* Small devices (landscape phones, to 768px) */
.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto auto auto;
    width: 98%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1em auto auto auto;
    width: 88%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 989px) {
  .index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em auto auto auto;
    width: 98%;
  }
}

.card-crear-radar {
    margin-bottom: 0.3em;
    background-color: #f5f6f7;
}

.card-body-crear-radar {
    padding: 0.5em;
}

.btn-crear-y-comparar-radar {
    color: #4b4f56;
    font-size: smaller;
    font-weight: bold;
}

.radar-container {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.index-header{
  height: 18.5em;
  width: 95%;
  margin-top: -1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid silver;
  border-top: 2px solid silver;
  background: linear-gradient(45deg, rgb(230, 230, 230), rgb(220, 220, 220));
}
