/* Small devices (landscape phones, to 768px) */
.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto auto auto;
  background: rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  padding-bottom: 1em;
  height: calc(100vh - 6em);;
  width: 98%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1em auto auto auto;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    padding-bottom: 1em;
    height: calc(100vh - 6em);
    width: 88%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 989px) {
  .index-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1em auto auto auto;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 30px;
    padding-bottom: 1em;
    height: calc(100vh - 6em);
    width: 98%;
  }
}

.card-crear-radar {
    margin-bottom: 0.3em;
    background-color: #f5f6f7;
}

.card-body-crear-radar {
    padding: 0.5em;
}

.btn-crear-y-comparar-radar {
    color: #4b4f56;
    font-size: smaller;
    font-weight: bold;
}

.radar-container {
  display: flex;
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.index-header{
  height: 16em;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(100deg, whitesmoke, white);
  border-radius: 30px 30px 0 0;
}

.radar-title-section {
  width: 100%;
  text-align: start;
  padding-left: 3.5em;
  display: flex;
  align-items: baseline;
  flex-direction: row;

  span {
    margin: 0 1.5em;
    font-size: 0.9em;
  }
}
