<div class="index-container">
  <app-index-header-component [radarTemplateContainers]="radarTemplateContainers"></app-index-header-component>
  <div class="radar-container">
    <app-radar-template-container-create-card [onCreateClick]="onCreate"></app-radar-template-container-create-card>

    <app-radar-template-container-card *ngFor="let radarTemplateContainer of filteredRadarTemplateContainers()"
                                       [radarTemplateContainer]="radarTemplateContainer"
                                        (onRadarDeleted)="deleteContainer($event)"></app-radar-template-container-card>
  </div>
</div>
