/* Small devices (landscape phones, to 768px) */
.index-container {
    margin: auto;
    width: 98%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .index-container {
    margin: auto;
    width: 88%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .index-container {
    margin: auto;
    width: 98%;
  }
}

.card-crear-radar {
    margin-bottom: 0.3em;
    background-color: #f5f6f7;
}

.card-body-crear-radar {
    padding: 0.5em;
}

.btn-crear-y-comparar-radar {
    color: #4b4f56;
    font-size: smaller;
    font-weight: bold;
}

.card-index-header{
  height: 8em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .call-to-action-button {
    height: 7em;
  }
}

.radar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
