:host{
  width: 100%;
  height: 50%;
}

.chart-subtitle {
  color: grey; padding-left: 1em;
}

.title-with-icon {
  display: flex; flex-direction: row; align-items: center; padding-bottom: .3em; padding-top: 1.3em;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 .6em;
}

.canvas-container{
  height: 100%;
}

