.card-index-header{
  height: 10em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: rgb(0, 0, 0, 0.2);
}

.create-radar-modal-field {
  margin-bottom: 1em;

  .created-axes {
    margin-bottom: 1em;

    .axes-list {
      padding: 0 2em;

      .axes-item {
        padding-bottom: 1em;
      }
    }

    .axis-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .axis-description {
        color: #9B9B9B;
        font-style: italic;
      }
    }
  }
}

.text-emphasis {
  font-weight: bold;
}

.new-axis-input {
  margin-bottom: 1em;
}

.add-axis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.axis-button {
  margin: 1em;
}
