.card-index-header{
  height: 10em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: rgb(0, 0, 0, 0.2);
}

.create-radar-modal-field {
  margin-bottom: 1em;
}
