<div class="card card-index-header" >
  <ng-template #createRadarModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Crear un Radar</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="create-radar-modal-field">
          <label>Por favor, selecciona un contenedor para tu Modelo de Radar</label>
          <select [(ngModel)]="selectedRadarTemplateContainer" class="browser-default custom-select">
            <option *ngFor="let container of radarTemplateContainers"
                    [value]= container.id>
              {{container.name}}
            </option>
          </select>
        </div>
        <div class="create-radar-modal-field">
          <label>Nombre del Modelo de Radar</label>
          <input
            type="text"
            class="form-control text-color"
            [(ngModel)]="radarTemplateName"
            name="radarTemplateName"
            id="radarTemplateName"
            placeholder="Nuevo Modelo de Radar"
            required
          >
        </div>
        <div class="create-radar-modal-field">
          <label>Descripción del Modelo de Radar</label>
          <textarea
            class="form-control text-color"
            [(ngModel)]="radarTemplateDescription"
            name="radarTemplateDescription"
            id="radarTemplateDescription"
            placeholder="Descripción del Modelo de Radar"
            rows="3"
            required
          >
          </textarea>
        </div>
        <hr>
        <div class="create-radar-modal-field">
          <p>Se necesitan <span class="text-emphasis">al menos 3 aristas</span> para crear un radar</p>
          <div class="created-axes">
            <ul class="axes-list">
              <li class="axes-item" *ngFor="let axis of radarTemplateAxes">
                <div class="axis-row">
                  {{axis.name}}
                  <button class="btn delete-axis-button" (click)="removeAxisFromNewRadarTemplate(axis)">
                    <img src="assets/images/delete-icon.svg"/>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div class="add-axis">
            <input
              type="text"
              class="form-control text-color new-axis-input"
              [(ngModel)]="newAxisName"
              name="newAxisName"
              id="newAxisName"
              placeholder="Nombre de la nueva arista"
              required
            >
            <input
              type="text"
              class="form-control text-color"
              [(ngModel)]="newAxisDescription"
              name="newAxisDescription"
              id="newAxisDescription"
              placeholder="Descripción de la nueva arista"
              required
            >
            <button type="button" class="btn btn-secondary axis-button" (click)="addAxisToRadarTemplate()">
              Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">

    </div>
  </ng-template>
  <app-call-to-action-header-button
    label="Crear Radar"
    icon="fas fa-chart-pie"
    (click)="openModal(createRadarModal)"
    >
  </app-call-to-action-header-button>
  <app-call-to-action-header-button
    label="Crear Votación"
    icon="fas fa-users"
    [onClick]="navigateToCreateRadarTemplate">
  </app-call-to-action-header-button>

</div>
